<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>
  <%= @contact.message %>
</p>
--
<p>Sent By:</p>
<p><%= @contact.name %></p>
<p><%= @contact.phone %></p>
</body>
</html>