<!-- Header v1 -->
<header id="js-header" class="u-header u-header--sticky-top u-header--change-appearance"
        data-header-fix-moment="100">
  <div class="dark-theme u-header__section g-bg-black-opacity-0_4 g-transition-0_3 g-py-8 g-py-17--md"
       data-header-fix-moment-exclude="dark-theme g-bg-black-opacity-0_4 g-py-17--md"
       data-header-fix-moment-classes="light-theme u-theme-shadow-v1 g-bg-white g-py-10--md">
    <nav class="navbar navbar-expand-lg p-0 g-px-15">
      <div class="container g-pos-rel">
        <a href="/" class="g-hidden-lg-up navbar-brand mr-0">
          <img class="d-block g-width-140 g-width-160--md" src="assets/img/logo-light.png" alt="Image Description"
               data-header-fix-moment-exclude="d-block"
               data-header-fix-moment-classes="d-none">

          <img class="d-none g-width-140 g-width-160--md" src="assets/img/logo-dark.png" alt="Image Description"
               data-header-fix-moment-exclude="d-none"
               data-header-fix-moment-classes="d-block">
        </a>

        <!-- Navigation -->
        <div class="collapse navbar-collapse align-items-center flex-sm-row" id="navBar">
          <ul class="js-scroll-nav navbar-nav align-items-lg-center text-uppercase g-font-weight-700 g-letter-spacing-1 g-font-size-12 g-pt-20 g-pt-0--lg mx-auto"
              data-splitted-breakpoint="992">
            <li class="nav-item g-mr-30--lg g-mb-7 g-mb-0--lg active">
              <a href="#home" class="nav-link p-0">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item g-mx-30--lg g-mb-7 g-mb-0--lg">
              <a href="#about" class="nav-link p-0">About</a>
            </li>
            <li class="nav-item g-mx-30--lg g-mb-7 g-mb-0--lg">
              <a href="#projects" class="nav-link p-0">Projects</a>
            </li>


            <!-- Logo -->
            <li class="g-hidden-lg-down nav-logo-item g-mx-15--lg">
              <a href="#!" class="js-go-to navbar-brand mr-0"
                 data-type="static">
                <img class="d-block g-width-140 g-width-160--md" src="assets/img/logo-light.png" alt="Image Description"
                     data-header-fix-moment-exclude="d-block"
                     data-header-fix-moment-classes="d-none">

                <img class="d-none g-width-140 g-width-160--md" src="assets/img/logo-dark.png" alt="Image Description"
                     data-header-fix-moment-exclude="d-none"
                     data-header-fix-moment-classes="d-block">
              </a>
            </li>
            <!-- End Logo -->
            <li class="nav-item g-mx-25--lg g-mb-7 g-mb-0--lg">
              <a href="#processes" class="nav-link p-0">Processes</a>
            </li>
            <li class="nav-item g-ml-25--lg">
              <a href="#contact" class="nav-link p-0">Contact</a>
            </li>
            <li class="nav-item g-ml-40--lg">
              <a href="#map" class="nav-link p-0">Location</a>
            </li>
          </ul>
        </div>
        <!-- End Navigation -->

        <!-- Responsive Toggle Button -->
        <button class="navbar-toggler btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-15 g-right-0" type="button"
                aria-label="Toggle navigation"
                aria-expanded="false"
                aria-controls="navBar"
                data-toggle="collapse"
                data-target="#navBar">
                <span class="hamburger hamburger--slider">
                  <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                  </span>
                </span>
        </button>
        <!-- End Responsive Toggle Button -->
      </div>
    </nav>
  </div>
</header>
<!-- End Header v1 -->